<html lang="en">
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('partial/sidebar')%>
    <main>
    <h1>
        <%= title %>
    </h1>
        <a href="/add/company">Add a company</a><br>
        <a href="/add/genre">Add genres</a><br>
        <a href="/add/game">Add a game</a>
    </main>
</body>
</html>