<head>
    <link rel="stylesheet" href="/public/style.css">
</head>
<aside>
    <a href="/">Games</a><br>
    <a href="/company">Companies</a><br>
    <a href="/genre">Genres</a><br>
    <a href="/add">Add</a><br>
    <a href="/delete">Delete</a>
</aside>